<!--The whole content below can be removed with the new code.-->
<div class="login-layout">

<h1>
  {{title}}
</h1>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

  <ul class="nav navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['home']">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['controlling']">Controlling</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['statistics']">Statistics</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
</div>
